@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background:white;
}
body {
    overflow-x: hidden;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
    padding-top: 15px;
}

.logo {

    width: 80px;
    height: 80px;
    margin-bottom: 12px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
    font-weight: 600;
    transition: transform 0.5s;
    transform: translateX(0) scale(1.0);
}

.nav-item:hover {
    transform: scale(1.1)
}

.nav-link {
    text-decoration: none;
    color: #242424;
    transition: .5s;
}

.nav-link:after {
    content: "";
    position: absolute;
    background-color: #242424;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -7px;
    transition: 0.3s;
}

.nav-link:hover:after {
    background-color: #242424;
    width: 100%;
}

.nav-link:hover {
    color: #242424;
}

.nav-bar .agendar-button button {
    border: solid 1px #6D6D6D;
    background-color: white;
    border-radius: 3px;
    font-size: 13px;
    padding: 6px 18px;
    color: #242424;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 21px;
    transition: transform 0.5s, background-color 0.3s ease-out 10ms;
  transform: translateX(0) scale(1);
}

.agendar-button button:hover {
    border: solid 1px #F79824 ;
    background-color: #F79824;
    color: white;
    transform: scale(1.1)
}

.agendar-button:hover {
    color: white;
}

.agendar-button a {
    text-decoration: none;
    color: #242424;
}

.agendar-button a:hover {
    text-decoration: none;
    color: white;
}

.mobile-menu .agendar-button button {
    border: solid 1px #6D6D6D;
    background-color: white;
    border-radius: 3px;
    font-size: 13px;
    padding: 6px 18px;
    color: #242424;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: transform 0.5s, background-color 0.3s ease-out 10ms;
  transform: translateX(0) scale(1);
}

.mobile-menu .agendar-button button:hover{
    border: solid 1px #F79824 ;
    background-color: #F79824;
    color: white;
    transform: scale(1.1)
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 900px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .agendar-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        color: #242424;
        border: none;
        cursor: pointer;
    }

    .mobile-menu-icon button{
        outline: thin dotted;
            outline: 0px auto -webkit-focus-ring-color;
            outline-offset: 0px;
        }
    .mobile-menu-icon button {
        outline: thin dotted;
            outline: 0px auto -webkit-focus-ring-color;
            outline-offset: 0px;
        }

    .icon {
        margin-top: 15px;
        width: 40px;
    }
    
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .agendar-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .agendar-button button {
        width: 100%;
    }

    .mobile-menu .agendar-button a {
        text-decoration: none;
        color: #242424;
    }
    
    .mobile-menu .agendar-button a:hover {
        text-decoration: none;
        color: white;
    }

    .nav-link:hover:after {
        display: none;
    }

    .open{
        display: block;
    }
}


.banner h1 {
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.banner h6 {
    color: white;
    font-weight: 300;
    font-size: 13px;
    margin-left: 10px;
}

.banner {
    padding-bottom: 45px;
    padding-top: 45px;
    background-image: url(/IMAGENS/Contato-banner.png);
    background-size: cover;
}

.banner img {
    margin-top: 10px;
    height: 50px;
    width: 6px;
}


@media screen and (max-width:600px) {
    .banner h1 {
        text-align: center;
        margin-left: 15px;
    }
    
    .banner h6 {
        text-align: center;
        margin-left: 0px;
    }
}

.logo-semeador-main {
    width: 170px;
    margin-inline: auto;
}

.main {
    margin-top: 30px;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}

.main p {
    color: #858585;
    font-size: 15px;
}

.main h1 {
    font-weight: 700;
    color: #202249;
}

.formulario1 {
    background-color: #F79824;
    padding-inline: 40px;
}

.formulario {
    margin-left: 2px;
}


.campo input{
    background: white;
    border:0px solid;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    height: 55px;
    border-radius: 0;
    outline: 0;
    
}

.campo input:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-bottom: 0px none;
    outline: 0;
}

input::placeholder {
    font-size: 14px;
    font-weight: 400;
    opacity: 50%;
}

.mensagem input::placeholder {
    display: block;
    background: #a78268;;
}

.mensagem textarea:focus {
    box-shadow: 0px 0px 0px 0px;
    border-bottom: 0px none;
    outline: 0;
}

form label {
    font-weight: 600;
    font-size: 13px;
}

.btn {
    background: #D46412;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 30px;

}

.btn:hover {
    color: white;
    background-color: #242424;

}

.enviar {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    background: #D46412;
    color: white;
    display: block;
}
.enviar:hover {
    color: white;
    background-color: #af5210;

}

label {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 500;
    color: white;
}

.mapa-conteudo {
    position: relative;
    width: 665px;
    height: 570px;
    background: white;
}

@media screen and (max-width: 1200px){
    .mapa-conteudo {
        display: none;
    }

    .enviar {
        margin-bottom: 30px ;
    }
}

@media screen and (max-width: 700px) {
    .formulario1 {
        background: #ffffff;
    }    

    .form-label {
        color: #b3b3b3;
    }

    .campo input{
        box-shadow: 0px 0px 0px 0px;
        border:none;
        border-bottom:1px solid #cccccc;
        background: #ffffff;
        
    }

    .campo input:focus {
        box-shadow: 0px 0px 0px 0px;
        border:none;
        border-bottom:1px solid #cccccc;
        background: #ffffff;
    }

    .mensagem textarea {
        border:none;
        background: #ffffff;
        border:1px solid #b6b6b6;
        box-shadow: 0px 0px 0px 0px
    }

    .mensagem textarea:focus {
        border:none;
        background: #ffffff;
        border:1px solid #b6b6b6;
        box-shadow: 0px 0px 0px 0px
    }

    .enviar {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
        background: #7c7c7c;
        color: white;
        display: block;
    }
    .enviar:hover {
        color: white;
        background-color: #4d4d4d;
    
    }
    
}

.font-size-20 {
    font-size: 20px;
}

.mapa-conteudo iframe {
    width: 100%;
    height: 100%;
}

.input-mensagem {
    background: white;
    border:0px solid;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    height: 100px;
    align-self: start;
}

.info {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    border:1px solid #9A9A9A;
    background: white;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 80px;
}

@media screen and (max-width: 800px) {
    .info {
        height: 200px;
        display: flex;
        flex-direction: column;
    }
}

.info p {
    font-size: 13px;
    color: #7c7c7c;
    
}

.localizacao-icon {
    margin-right: 10px;
}

.telefone-icon {
    margin-right: 10px;
}

.relogio-icon {
    margin-right: 10px;
}

.horario p {
    text-align: center;
}

.local p {
    text-align: center;
}

.redirect-info {
    justify-content: center;
}

.redirect-info img {
    margin-top: 2px;
    margin-left: 5px;
}

.redirect-info p {
    font-size: 17px;
    font-weight: 500;
    color: #242424;
}

/* Footer c/copyright */

.bg {
    background: #202249;
}
.col-md-2{
    text-align: center;
}
.bg h1 {
    color: #F79824;
    font-weight: 700;
}
.bg ul {
    list-style: none;
    text-align: center;
}
.bg a {
    color: white;
}
.footer-item{
    font-weight: 500;
    transition: transform 0.5s;
    transform: translateX(0) scale(1.0);
 }

 .footer-item:hover{
    color: #d3d3d3;
    transform: scale(1.1);
 }

/* copyright */

.copyright{
    display: flex;
    text-align: center;
    background-color: #1a1c3b;
}
.copy{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    background-color: #1a1c3b;
    font-weight: 500;
    padding-top: 20px;
}

.iconzap {
    position: fixed;
    bottom: 60px;
    right: 30px;
    font-size: 30px;
    background-color: #01e675;
    color: #ffffff;
    border-radius: 50%;
    padding: 3px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    z-index: 100;
    box-shadow: 2px 2px 2px #c0bdbd;
  }
  
  .iconzap .fab{
    padding-top: 9px;
  }
  
  .iconzap:hover{
    background-color: #fff;
    color: #029e3b;
    font-weight: 900;
    box-shadow: 2px 2px 20px #5fe690;
  }