@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */

header {
    background:white;
}
body {
    overflow-x: hidden;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
    padding-top: 15px;
}

.logo {
    width: 80px;
    height: 80px;
    margin-bottom: 12px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
    font-weight: 600;
    transition: transform 0.5s;
    transform: translateX(0) scale(1.0);
}

.nav-item:hover {
    transform: scale(1.1)
}

.nav-link {
    text-decoration: none;
    color: #242424;
    transition: .5s;
}

.nav-link:after {
    content: "";
    position: absolute;
    background-color: #242424;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -7px;
    transition: 0.3s;
}

.nav-link:hover:after {
    background-color: #242424;
    width: 100%;
}

.nav-link:hover {
    color: #242424;
}

.nav-bar .agendar-button button {
    border: solid 1px #6D6D6D;
    background-color: white;
    border-radius: 3px;
    font-size: 13px;
    padding: 6px 18px;
    color: #242424;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 21px;
    transition: transform 0.5s, background-color 0.3s ease-out 10ms;
  transform: translateX(0) scale(1);
}

.agendar-button button:hover {
    border: solid 1px #F79824 ;
    background-color: #F79824;
    color: white;
    transform: scale(1.1)
}

.agendar-button:hover {
    color: white;
}

.agendar-button a {
    text-decoration: none;
    color: #242424;
}

.agendar-button a:hover {
    text-decoration: none;
    color: white;
}

.agendar-button button:focus {
    outline: 0;
}

.mobile-menu .agendar-button button:focus{
    outline: 0;
}

.mobile-menu .agendar-button button {
    border: solid 1px #6D6D6D;
    background-color: white;
    border-radius: 3px;
    font-size: 13px;
    padding: 6px 18px;
    color: #242424;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: transform 0.5s, background-color 0.3s ease-out 10ms;
  transform: translateX(0) scale(1);
}

.mobile-menu .agendar-button button:hover{
    border: solid 1px #F79824 ;
    background-color: #F79824;
    color: white;
    transform: scale(1.1)
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 900px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .agendar-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        color: #242424;
        border: none;
        cursor: pointer;
    }

    .mobile-menu-icon button{
        outline: thin dotted;
            outline: 0px auto -webkit-focus-ring-color;
            outline-offset: 0px;
        }
    .mobile-menu-icon button {
        outline: thin dotted;
            outline: 0px auto -webkit-focus-ring-color;
            outline-offset: 0px;
        }

    .icon {
        margin-top: 15px;
        width: 40px;
    }
    
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .agendar-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .agendar-button button {
        width: 100%;
    }

    .mobile-menu .agendar-button a {
        text-decoration: none;
        color: #242424;
    }
    
    .mobile-menu .agendar-button a:hover {
        text-decoration: none;
        color: white;
    }

    .nav-link:hover:after {
        display: none;
    }

    .open{
        display: block;
    }
}

/* Slider */

.container-fluid {
    padding: 0;
}

#mainSlider .carousel-inner,
#mainSlider .carousel-item {
    height: 70vh;
    opacity: 96%;
}

#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #FFF;
}

.main-btn {
    background-color: #65DAF9;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: 0.5s;
}

.main-btn1 {
    background-color: #65DAF9;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;

    transition: 0.5s;
    border-top: 200px;
}

.main-btn:hover {
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
    border-color: orange;
}

.carousel-indicators .active {
    background-color: orange;
}

/* Sobre a escola */

#about-area{
    justify-content: space-around;
    margin-bottom: 50px;
}

.titulo{
    margin-top: 100px;
    
}

.titulo h1 {
    position: relative;
    color: #242424;
    font-size: 65px;
    font-weight: 700;
}

.titulo img{
    transform: rotate(90deg);
    margin-top: 12px;
    margin-left: 10px;
}

.compromisso-text h1 {
    position: relative;
    color: #242424;
    font-size: 65px;
    font-weight: 700;
}

.compromisso-text img {
    transform: rotate(90deg);
    margin-top: 12px;
    margin-left: 10px;
}

.compromisso-text {
    margin-top: 120px;
    margin-inline: 180px;
}

.video {
    margin-top: 100px;
    margin-left: 20px;
    width: 600px;
    height: 350px;
    object-fit: cover;
}

.sobre {
    flex-direction: column;
}

.compromissos{
    margin-inline: 100px;
}

@media screen and (max-width:532px) {
    .sobre h1 {
        font-size: 35px;
    }

    .titulo img {
        width: 28px;
        height: 28px;
        margin-top: 8px;
    }
}

@media screen and (max-width:600px) {
    .carousel-indicators{
        display: none;
    }
}

@media screen and (max-width:798px) {
    .compromisso-text {
        justify-content: center;
    }

    .compromisso-text img {
        display: none;
    }

    .compromisso-text h1 {
        text-align: center;
    }
}

@media screen and (max-width:1300px) {
    .sobre img {
        display: none;
    }
}

@media screen and (max-width:1199px) {

    .sobre img {
        display: block;
    }

    .titulo {
        margin-left: auto;
        margin-right: auto;
    }

    .sobre p {
        text-align: center;
    }

    .video {
        width: 1000px;
        height: 350px;
        object-fit: cover;
    }

    .compromisso-text h1 {
        font-size: 45px;
    }

    .compromisso-text img {
        width: 37px;
        height: 37px;
        margin-top: 8px;
        margin-left: 10px;
    }

    .compromisso-text {
        display: flex;
        margin-top: 80px;
        justify-content: center;
    }
}

@media screen and (max-width:991px) {
    .compromissos {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:1200px) {
    .sobre-video {
        flex-direction: column;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Ajuste de espaçamento entre o texto e o vídeo */
.col-md-6 {
    flex: 0 0 calc(50% - 10px); /* 50% do espaço com um espaçamento de 20px entre os elementos */
    margin-bottom: 20px; /* Espaçamento abaixo do bloco */
}

/* Estilo para o título da seção */
#about-area h1 {
    text-align: center;
}


/* Serviços */

.service-box {
    text-align: center;
    margin-bottom: 50px;
}

.service-box h4,
.service-box i {
    transition: 0.5s;
}

.service-box i {
    font-size: 60px;
    margin-bottom: 25px;
    color: #444;
}

.service-box h4 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

 p {
    font-size: 18px;

 }

.service-box:hover > h4,
.service-box:hover > i {
    color: orange;
}

/* COMPROMISSOS */

.service-box{
    margin-top: 100px;
}

@media screen and (max-width:991px) {       
    .service-box {
        margin-top: 10px
    }
    .colegio {
        margin-top: 100px;
    }
}

/* Footer */
.bg {
    background: #202249;
}
.col-md-2{
    text-align: center;
}
.bg h1 {
    color: #F79824;
    font-weight: 700;
}
.bg ul {
    list-style: none;
    text-align: center;
}
.bg a {
    color: white;
}
.footer-item{
    font-weight: 500;
    transition: transform 0.5s;
    transform: translateX(0) scale(1.0);
 }

 .footer-item:hover{
    color: #d3d3d3;
    transform: scale(1.1);
 }

/* copyright */

.copyright{
    display: flex;
    text-align: center;
    background-color: #1a1c3b;
}
.copy{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    background-color: #1a1c3b;
    font-weight: 500;
    padding-top: 20px;
}

.iconzap {
    position: fixed;
    bottom: 60px;
    right: 30px;
    font-size: 30px;
    background-color: #01e675;
    color: #ffffff;
    border-radius: 50%;
    padding: 3px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    z-index: 100;
    box-shadow: 2px 2px 2px #c0bdbd;
  }
  

  .iconzap:hover{
    background-color: #fff;
    color: #029e3b;
    font-weight: 900;
    box-shadow: 2px 2px 20px #5fe690;
  }
